
/*Encabezado*/
#main-header {
	background-color: #472d30;
    height: 5em;
    width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed; 
}	

    #main-header a {
	    color: #ffe1a8;
   	}

/* Título*/
#header-title {
	float: left;
    padding: 15px 0 0 50px;
	text-decoration: none;
}

    #header-title:hover {
	    color: #e26d5c;
    }
	
    #header-title .site-name {
	    display: block;
		font-weight: 600;
		font-size: 1.5em;  
    }
	
	#header-title .site-desc {
		display: block;
		font-weight: 500;
		font-size: 1.2em;
		color: #c9cba3;
    }

/*Barra navegadora*/
nav {
    float: right;
    margin-right: 1em;
}
    
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-right: 10px;
    }
        
        nav ul li {
            display: inline-block;
            line-height: 80px;
        }
                
            nav ul li a {
                display: block;
                padding: 0 20px;
                text-decoration: none;
                font-size: 1.5em;
            }
                
            nav ul li a:hover {
                background-color: #e26d5c;
            }
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'Tilt Neon', cursive;
        color: #666;
        background: #f2f2f2; 
        font-size: 1em;
        line-height: 1.5em;
        
        padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
    }


h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}